/* -------------------------- google font import --------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* -------------------------- google font import --------------------------- */

/* -------------------------- universal css reset style --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* -------------------------- universal css reset style --------------------------- */

/* -------------------------- css reusable class --------------------------- */
.container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}
/* -------------------------- css reusable class --------------------------- */

/* -------------------------- header section start --------------------------- */
#header-section{
    width: 100%;
    height: 100vh;
}

.header-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .banner{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("/assets/img/bg-img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.header-content .banner .sub-heading{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.header-content .banner .main-heading{
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 95px;
}

/* -------------------------- header section end --------------------------- */

/* -------------------------- discount section start --------------------------- */
#discount-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discount-heading{
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
}

.discount-para{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.discount-category-heading2{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
}

.dis-img-box{
    width: 802px;
    height: 500px;
}

.dis-img-box .dis-img{
    width: 100%;
    height: 100%;
}

/* -------------------------- discount section end --------------------------- */

/* -------------------------- party section start --------------------------- */

#party-section{
    width: 100%;
    height: 100vh;
}

.party-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.party-content .party-banner{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("/assets/img/bg-img/year-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}

.party-content .party-banner .party-details {
    margin-left: 126px;
}

.party-content .party-banner .party-details .party-heading{
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.party-content .party-banner .party-details .party-para{
    width: 697px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 48px;
}

.party-content .party-banner .party-details .party-link{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
}

.party-content .party-banner .party-img-box{
    width: 319px;
    height: 464px;
    margin-right: 108px;
}

.party-content .party-banner .party-img-box .party-img{
    width: 100%;
    height: 100%;
}

/* -------------------------- party section end --------------------------- */

/* -------------------------- place, date and time section start --------------------------- */

#place-date-time-section{
    width: 100%;
    height: 50vh;
}

.pl-da-ti-content{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pl-da-ti-content .pl-da-ti-banner{
    width: 100%;
    height: 472px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pl-da-ti-content .pl-da-ti-banner .pl-da-ti-details{
    width: auto;
    height: 272px;
}

.pl-da-ti-content .pl-da-ti-banner .pl-da-ti-details .pl-da-ti-text{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color:#070211;
    margin-bottom: 64px;
}

.pl-da-ti-content .pl-da-ti-banner .pl-da-ti-details .pl-da-ti-text .pl-da-ti-color{
    color: #FF0000;
}

.pl-da-ti-content .pl-da-ti-banner .pl-da-ti-details .pl-da-ti-link{
    display: inline-block;
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

/* -------------------------- place, date and time section end --------------------------- */

/* -------------------------- new best offer section start --------------------------- */

#new-best-offer-section{
    width: 100%;
    height: 100vh;
}

.ne-be-of-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ne-be-of-content .best-offer-details{
    width: 393px;
    height: auto;
    margin-right: 70px;
}

.ne-be-of-content .best-offer-details .best-offer-sub-heading{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.ne-be-of-content .best-offer-details .best-offer-heading{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.ne-be-of-content .best-offer-details .best-offer-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
}

.ne-be-of-content .best-offer-img-box{
    width: 463px;
    height: 463px;
    border: 15px solid #FF0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 118px;
}

.ne-be-of-content .best-offer-img-box .best-offer-img{
    width: 364px;
    height: 364px;
}

.ne-be-of-content .best-offer-happy-new-year{
    width: 276px;
    height: auto;
    margin-top: 112px;
}

.ne-be-of-content .best-offer-happy-new-year .year{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 16px;
}

.ne-be-of-content .best-offer-happy-new-year .year-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    opacity: 0.6;
    margin-bottom: 43px;
}

.ne-be-of-content .best-offer-happy-new-year .year-img-box{
    width: 114px;
    height: 114px;
}

.ne-be-of-content .best-offer-happy-new-year .year-img-box .year-img{
    width: 100%;
    height: 100%;
}

/* -------------------------- new best offer section end --------------------------- */

/* -------------------------- holiday sale section end --------------------------- */

#holiday-sale-section{
    width: 100%;
    height: 110vh;
}

.holiday-sale-content{
    width: 100%;
    height: 100vh;
}

.holiday-sale-content .holiday-sale-details{
    width: 1068px;
    height: auto;
    margin: 0 auto 64px;
    text-align: center;
}

.holiday-sale-content .holiday-sale-details .ho-sa-sub-heading{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    margin-bottom: 16px;
}

.holiday-sale-content .holiday-sale-details .ho-sa-heading{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    color: #070211;
}

.holiday-sale-content .holiday-sale-details .ho-sa-heading .ho-sa-color{
    color: #FF0000;
}

.holiday-sale-content .holiday-sale-details .ho-sa-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #070211;
    opacity: 0.6;
}

.holiday-sale-content .ho-sa-dis-part{
    width: 100%;
    height: 662px;
    margin-top: 64px;
    position: relative;
}

.holiday-sale-content .ho-sa-dis-part .red-bottom-img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom:-4px;
}

.holiday-sale-content .ho-sa-dis-part .red-bottom-img .ho-sa-re-img{
    width: 100%;
}

.holiday-sale-content .ho-sa-dis-part .gift-img{
    width: 796px;
    height: 662px;
    position: absolute;
    left: 20px;
    z-index: 1;
}

.holiday-sale-content .ho-sa-dis-part .gift-img .gi-img{
    width: 100%;
    height: 100%;
}

.holiday-sale-content .ho-sa-dis-part .dis-img{
    width: 305px;
    height: 305px;
    position: absolute;
    right: 40px;
    top: 77px;
}

.holiday-sale-content .ho-sa-dis-part .dis-img .di-img{
    width: 100%;
    height: 100%;
}

/* -------------------------- holiday sale section end --------------------------- */

/* -------------------------- best gift section start --------------------------- */

#best-gift-section{
    width: 100%;
    height: 135vh;
}

.the-best-gift-content{
    width: 100%;
    height: 100vh;
}

.the-best-gift-content .the-be-gi-details{
    width: 896px;
    height: auto;
    margin-bottom: 48px;
}

.the-best-gift-content .the-be-gi-details .the-be-gi-sub-header{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #FF0000;
}

.the-best-gift-content .the-be-gi-details .the-be-gi-heading{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.the-best-gift-content .the-be-gi-details .the-be-gi-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    opacity: 0.6;
}

.the-best-gift-content .the-be-gi-card-container{
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.the-best-gift-content .the-be-gi-card-container .card{
    width: 464px;
    height: 470px;
    cursor: pointer;
}

.the-best-gift-content .the-be-gi-card-container .card .card-img{
    width: 100%;
    height: 100%;
}

/* -------------------------- best gift section end --------------------------- */

/* -------------------------- subscribe newsletter section start --------------------------- */

#subscribe-newsletter-section{
    width: 100%;
    height: 75vh;
}

.sub-new-content{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-new-content .sub-new-container{
    width: 100%;
    height: 616px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sub-new-content .sub-new-container .email-img{
    width: 150px;
    height: 150px;
    margin: 80px 0px 40px;
}

.sub-new-content .sub-new-container .email-img .el-img{
    width: 100%;
    height: 100%;
}

.sub-new-content .sub-new-container .sub-new-details{
    width: 898px;
    height: auto;
    margin-bottom: 48px;
}

.sub-new-content .sub-new-container .sub-new-details .sub-new-heading{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}

.sub-new-content .sub-new-container .sub-new-details .sub-new-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #070211;
    opacity: 0.6;
}

.sub-new-content .sub-new-container .sub-new-input-submit{
    width: 700px;
    height: 72px;
    position: relative;
    margin: 0 auto;
}

.sub-new-content .sub-new-container .sub-new-input-submit .el-input{
    width: 460px;
    height: 100%;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 25px 47px 25px 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #070211;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    background-color:#FFFFFF; 
}

.sub-new-content .sub-new-container .sub-new-input-submit .sb-btn{
    width: 220px;
    height: 72px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    cursor: pointer;
}


/* -------------------------- subscribe newsletter section end --------------------------- */

/* -------------------------- footer section start --------------------------- */

#footer-section{
    width: 100%;
    height: 60vh;
    background-color: #070211;
}

.footer-content{
    width: 100%;
    height: 60vh;
}

.footer-content .footer-details{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 110px;
    margin-bottom: 50px;
}

.footer-content .footer-details .office-address .footer-off-add{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    color: #FFFFFF;
}

.footer-content .footer-details .footer-contact .footer-contact-para{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    color: #FFFFFF;
}

.footer-content .footer-details .footer-contact .icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-content .footer-details .footer-contact .footer-con-icon{
    width: 30px;
    height: 30px;
}

.footer-content .footer-social-icon{
    width: 100%;
    padding: 48px 0 48px;
    text-align: center;
    border-top:  1px solid rgba(255, 255, 255, 0.15);
    border-bottom:  1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 50px;
}

.footer-content .footer-social-icon .social-icon{
    margin: 0 20px;
    cursor: pointer;
}

.footer-content .footer-copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content .footer-copyright .footer-copy-para {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}
/* -------------------------- footer section end --------------------------- */