/* -------------------------- google font import --------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* -------------------------- google font import --------------------------- */

/* -------------------------- universal css reset style --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* -------------------------- universal css reset style --------------------------- */

/* -------------------------- css reusable class --------------------------- */
.container{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}
/* -------------------------- css reusable class --------------------------- */

/* -------------------------- header section start --------------------------- */
#header-section{
    width: 100%;
    height: 100vh;
}

.header-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .banner{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("/assets/img/bg-img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.header-content .banner .sub-heading{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.header-content .banner .main-heading{
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 95px;
}

/* -------------------------- header section end --------------------------- */